.author-widget {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;

    border-radius: 50%;
    border: whitesmoke solid;
}