.control-btn {
    margin: 0px;
    width: fit-content;

    background-color: var(--control-btn-bg-color);
    color: var(--control-btn-text-color);
    border: wheat solid;
    font-size: small;
}

.control-btn:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.control-btn:active,
.current-theme {
    filter: brightness(60%);
    transform: translate(2px, 2px);
}

.control-inner-btn {
    border-radius: 10px;
    border: none;
    box-shadow: none;
}

.delete-btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;
    border-radius: 7px;

    font-size: medium;

    justify-content: center;
    align-items: center;
}

.trello-task:hover .delete-btn {
    display: flex;
}

.add-new-btn {
    margin-top: 10px;
    user-select: none;
}

.theme-toggle-btn {
    background-color: var(--theme-toggle-bg-color);
}
